In [36]:
import pandas as pd 
import numpy as np 
from tqdm import tqdm

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',100)
pd.options.mode.chained_assignment = None

In [3]:
"""
clockAtArrival: 16-digit timestamp
StockID: StockID 
time: time 
ID_map: for plotting, matching the stockID 
snapmark: for the same snapmark, it means the stocks info belongs in one snapshot 
ms_caa: more reable timestamp
"""
snaps = pd.read_csv("md2019.csv")
snaps.head(100)

,clockAtArrival,StockID,time,ID_map,snapmark,ms_caa
0,1548983031092679,9,09:03:39.000,7,0,2019-02-01 09:03:51.092679
1,1548983031092690,12,09:03:39.000,10,0,2019-02-01 09:03:51.092690
2,1548983031092696,17,09:03:39.000,13,0,2019-02-01 09:03:51.092696
3,1548983031092702,20,09:03:39.000,16,0,2019-02-01 09:03:51.092702
4,1548983031092709,21,09:03:39.000,17,0,2019-02-01 09:03:51.092709
5,1548983031092716,28,09:03:39.000,22,0,2019-02-01 09:03:51.092716
6,1548983031092722,34,09:03:39.000,27,0,2019-02-01 09:03:51.092722
7,1548983031092733,36,09:03:39.000,29,0,2019-02-01 09:03:51.092733
8,1548983031092737,38,09:03:39.000,31,0,2019-02-01 09:03:51.092737
9,1548983031092742,43,09:03:39.000,35,0,2019-02-01 09:03:51.092742
10,1548983031092747,50,09:03:39.000,40,0,2019-02-01 09:03:51.092747
11,1548983031092752,56,09:03:39.000,42,0,2019-02-01 09:03:51.092752
12,1548983031092762,63,09:03:39.000,48,0,2019-02-01 09:03:51.092762
13,1548983031092767,90,09:03:39.000,57,0,2019-02-01 09:03:51.092767
14,1548983031092773,99,09:03:39.000,59,0,2019-02-01 09:03:51.092773
15,1548983031092777,100,09:03:39.000,60,0,2019-02-01 09:03:51.092777
16,1548983031092781,151,09:03:39.000,62,0,2019-02-01 09:03:51.092781
17,1548983031092786,153,09:03:39.000,63,0,2019-02-01 09:03:51.092786
18,1548983031092790,157,09:03:39.000,66,0,2019-02-01 09:03:51.092790
19,1548983031092804,400,09:03:39.000,73,0,2019-02-01 09:03:51.092804
20,1548983031092809,403,09:03:39.000,76,0,2019-02-01 09:03:51.092809
21,1548983031092811,408,09:03:39.000,79,0,2019-02-01 09:03:51.092811
22,1548983031092816,416,09:03:39.000,85,0,2019-02-01 09:03:51.092816
23,1548983031092827,418,09:03:39.000,87,0,2019-02-01 09:03:51.092827
24,1548983031092832,419,09:03:39.000,88,0,2019-02-01 09:03:51.092832
25,1548983031092834,421,09:03:39.000,90,0,2019-02-01 09:03:51.092834
26,1548983031092836,422,09:03:39.000,91,0,2019-02-01 09:03:51.092836
27,1548983031092847,423,09:03:39.000,92,0,2019-02-01 09:03:51.092847
28,1548983031092851,502,09:03:39.000,101,0,2019-02-01 09:03:51.092851
29,1548983031092856,506,09:03:39.000,105,0,2019-02-01 09:03:51.092856
30,1548983031092866,507,09:03:39.000,106,0,2019-02-01 09:03:51.092866
31,1548983031092989,517,09:03:39.000,112,0,2019-02-01 09:03:51.092989
32,1548983031092995,519,09:03:39.000,114,0,2019-02-01 09:03:51.092995
33,1548983031093000,521,09:03:39.000,116,0,2019-02-01 09:03:51.093000
34,1548983031093004,528,09:03:39.000,121,0,2019-02-01 09:03:51.093004
35,1548983031093011,530,09:03:39.000,123,0,2019-02-01 09:03:51.093011
36,1548983031093021,533,09:03:39.000,126,0,2019-02-01 09:03:51.093021
37,1548983031093025,534,09:03:39.000,127,0,2019-02-01 09:03:51.093025
38,1548983031093030,538,09:03:39.000,130,0,2019-02-01 09:03:51.093030
39,1548983031093037,543,09:03:39.000,134,0,2019-02-01 09:03:51.093037
40,1548983031093042,544,09:03:39.000,135,0,2019-02-01 09:03:51.093042
41,1548983031093046,545,09:03:39.000,136,0,2019-02-01 09:03:51.093046
42,1548983031093050,550,09:03:39.000,140,0,2019-02-01 09:03:51.093050
43,1548983031093054,555,09:03:39.000,145,0,2019-02-01 09:03:51.093054
44,1548983031093061,558,09:03:39.000,147,0,2019-02-01 09:03:51.093061
45,1548983031093066,567,09:03:39.000,155,0,2019-02-01 09:03:51.093066
46,1548983031093072,571,09:03:39.000,158,0,2019-02-01 09:03:51.093072
47,1548983031093082,573,09:03:39.000,160,0,2019-02-01 09:03:51.093082
48,1548983031093087,4,09:03:39.000,2,0,2019-02-01 09:03:51.093087
49,1548983031093096,5,09:03:39.000,3,0,2019-02-01 09:03:51.093096
50,1548983031093100,7,09:03:39.000,5,0,2019-02-01 09:03:51.093100
51,1548983031093103,8,09:03:39.000,6,0,2019-02-01 09:03:51.093103
52,1548983031093108,19,09:03:39.000,15,0,2019-02-01 09:03:51.093108
53,1548983031093110,23,09:03:39.000,18,0,2019-02-01 09:03:51.093110
54,1548983031093115,37,09:03:39.000,30,0,2019-02-01 09:03:51.093115
55,1548983031093117,45,09:03:39.000,36,0,2019-02-01 09:03:51.093117
56,1548983031093122,59,09:03:39.000,44,0,2019-02-01 09:03:51.093122
57,1548983031093127,61,09:03:39.000,46,0,2019-02-01 09:03:51.093127
58,1548983031093132,62,09:03:39.000,47,0,2019-02-01 09:03:51.093132
59,1548983031093142,69,09:03:39.000,52,0,2019-02-01 09:03:51.093142
60,1548983031093148,156,09:03:39.000,65,0,2019-02-01 09:03:51.093148
61,1548983031093153,401,09:03:39.000,74,0,2019-02-01 09:03:51.093153
62,1548983031093159,402,09:03:39.000,75,0,2019-02-01 09:03:51.093159
63,1548983031093164,409,09:03:39.000,80,0,2019-02-01 09:03:51.093164
64,1548983031093169,410,09:03:39.000,81,0,2019-02-01 09:03:51.093169
65,1548983031093171,428,09:03:39.000,95,0,2019-02-01 09:03:51.093171
66,1548983031093173,429,09:03:39.000,96,0,2019-02-01 09:03:51.093173
67,1548983031093177,498,09:03:39.000,99,0,2019-02-01 09:03:51.093177
68,1548983031093181,504,09:03:39.000,103,0,2019-02-01 09:03:51.093181
69,1548983031093185,505,09:03:39.000,104,0,2019-02-01 09:03:51.093185
70,1548983031093190,523,09:03:39.000,117,0,2019-02-01 09:03:51.093190
71,1548983031093195,526,09:03:39.000,120,0,2019-02-01 09:03:51.093195
72,1548983031093207,529,09:03:39.000,122,0,2019-02-01 09:03:51.093207
73,1548983031093212,531,09:03:39.000,124,0,2019-02-01 09:03:51.093212
74,1548983031093219,539,09:03:39.000,131,0,2019-02-01 09:03:51.093219
75,1548983031093221,540,09:03:39.000,132,0,2019-02-01 09:03:51.093221
76,1548983031093229,541,09:03:39.000,133,0,2019-02-01 09:03:51.093229
77,1548983031093234,557,09:03:39.000,146,0,2019-02-01 09:03:51.093234
78,1548983031093238,559,09:03:39.000,148,0,2019-02-01 09:03:51.093238
79,1548983031093242,568,09:03:39.000,156,0,2019-02-01 09:03:51.093242
80,1548983031093247,584,09:03:39.000,164,0,2019-02-01 09:03:51.093247
81,1548983031093252,587,09:03:39.000,167,0,2019-02-01 09:03:51.093252
82,1548983031093263,595,09:03:39.000,173,0,2019-02-01 09:03:51.093263
83,1548983031093273,609,09:03:39.000,185,0,2019-02-01 09:03:51.093273
84,1548983031093279,615,09:03:39.000,190,0,2019-02-01 09:03:51.093279
85,1548983031093283,617,09:03:39.000,192,0,2019-02-01 09:03:51.093283
86,1548983031093287,619,09:03:39.000,193,0,2019-02-01 09:03:51.093287
87,1548983031093291,630,09:03:39.000,202,0,2019-02-01 09:03:51.093291
88,1548983031093297,650,09:03:39.000,211,0,2019-02-01 09:03:51.093297
89,1548983031093303,659,09:03:39.000,217,0,2019-02-01 09:03:51.093303
90,1548983031093309,662,09:03:39.000,219,0,2019-02-01 09:03:51.093309
91,1548983031093313,667,09:03:39.000,223,0,2019-02-01 09:03:51.093313
92,1548983031093319,668,09:03:39.000,224,0,2019-02-01 09:03:51.093319
93,1548983031093323,669,09:03:39.000,225,0,2019-02-01 09:03:51.093323
94,1548983031093328,670,09:03:39.000,226,0,2019-02-01 09:03:51.093328
95,1548983031093330,672,09:03:39.000,228,0,2019-02-01 09:03:51.093330
96,1548983031104446,2,09:03:39.000,1,0,2019-02-01 09:03:51.104446
97,1548983031104452,6,09:03:39.000,4,0,2019-02-01 09:03:51.104452
98,1548983031104458,10,09:03:39.000,8,0,2019-02-01 09:03:51.104458
99,1548983031104463,11,09:03:39.000,9,0,2019-02-01 09:03:51.104463

In [4]:
snaps['snapmark'].unique()

array([   0,    1,    2, ..., 5161, 5149, 5158], dtype=int64)

In [5]:
"""
For MD2019, the groupping pattern is same for all snapmarks. 
Here's the dataframe illustrate each StockID belongs to which group. 

All 2128 StockID are divided into 4 groups. 
"""
grouping_ans = pd.read_csv("answers.csv")
grouping_ans

      StockID  Group_No
0           9         1
1          12         1
2          17         1
3          20         1
4          21         1
...       ...       ...
2123   300727         4
2124   300729         4
2125   300741         4
2126   300742         4
2127   300747         4

[2128 rows x 2 columns]

In [6]:
test100 = snaps[snaps['snapmark']==100]
test100

,clockAtArrival,StockID,time,ID_map,snapmark,ms_caa
6032158,1548983994093357,156,09:19:42.000,65,100,2019-02-01 09:19:54.093357
6032159,1548983994093364,505,09:19:42.000,104,100,2019-02-01 09:19:54.093364
6032160,1548983994092734,16,09:19:42.000,12,100,2019-02-01 09:19:54.092734
6032161,1548983994094858,971,09:19:42.000,435,100,2019-02-01 09:19:54.094858
6032162,1548983994095372,2069,09:19:42.000,530,100,2019-02-01 09:19:54.095372
...,...,...,...,...,...,...
6032306,1548983994116136,300555,09:19:42.000,1934,100,2019-02-01 09:19:54.116136
6032307,1548983994116141,300559,09:19:42.000,1938,100,2019-02-01 09:19:54.116141
6032308,1548983994116244,300608,09:19:42.000,1984,100,2019-02-01 09:19:54.116244
6032309,1548983994127664,300756,09:19:42.000,2124,100,2019-02-01 09:19:54.127664
6032310,1548983994127669,300760,09:19:42.000,2127,100,2019-02-01 09:19:54.127669

In [9]:
test100 = test100.merge(grouping_ans, on='StockID')

In [11]:
test100.sort_values(['Group_No', 'clockAtArrival'], inplace=True)

In [12]:
test100

,clockAtArrival,StockID,time,ID_map,snapmark,ms_caa,Group_No
80,1548983994111222,2561,09:19:42.000,1019,100,2019-02-01 09:19:54.111222,1
81,1548983994113592,300032,09:19:42.000,1417,100,2019-02-01 09:19:54.113592,1
82,1548983994113604,300043,09:19:42.000,1428,100,2019-02-01 09:19:54.113604,1
83,1548983994113957,300063,09:19:42.000,1447,100,2019-02-01 09:19:54.113957,1
84,1548983994113963,300073,09:19:42.000,1457,100,2019-02-01 09:19:54.113963,1
...,...,...,...,...,...,...,...
75,1548983994116393,300618,09:19:42.000,1993,100,2019-02-01 09:19:54.116393,4
76,1548983994127486,300640,09:19:42.000,2015,100,2019-02-01 09:19:54.127486,4
77,1548983994127493,300671,09:19:42.000,2045,100,2019-02-01 09:19:54.127493,4
78,1548983994127498,300693,09:19:42.000,2067,100,2019-02-01 09:19:54.127498,4
79,1548983994127510,300742,09:19:42.000,2112,100,2019-02-01 09:19:54.127510,4

In [38]:
grouped = test100.groupby('Group_No')

In [39]:
len(grouped)

4

In [30]:
grouped_data = grouped.get_group(1)

In [45]:
def is_decrease(test_ID):
    ## create the dataframe with specific snapmark_ID
    test = snaps[snaps['snapmark'] == test_ID]
    test = test.merge(grouping_ans, on='StockID')
    ## pre-process the data
    test.sort_values(by = ['Group_No', 'clockAtArrival'],ascending = True, inplace = True)  # æŒ‰æ—¶é—´é€’å¢žæŽ’åº
    grouped = test.groupby('Group_No')
    for i in range(len(grouped)):
        try:
            grouped_data = grouped.get_group(i+1)
        except KeyError:
            continue
        grouped_data.reset_index(drop=True, inplace=True)
        for j in range(len(grouped_data['clockAtArrival'])-1):
            if grouped_data['StockID'].iloc[j] >  grouped_data['StockID'].iloc[j+1]:
                return False
    return True

In [46]:
is_decrease(100)

True

In [50]:
i = 0
for snapmark_id in tqdm(snaps['snapmark'].unique()):
    temp_result = is_decrease(snapmark_id)
    i += 1
    if not temp_result:
        print(f'{snapmark_id} miss_match')
        break
    if i == len(snaps['snapmark'].unique()-1):
        print('match well!')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5200/5200 [08:01<00:00, 10.79it/s]

match well!